{%  extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        {% if (participations is empty) and (hosted_events is empty) %}
            <p>Jus nedalyvaujate jokiuose įvykiuose</p>
        {% else %}
            {% if hosted_events is empty %}
                <p>Jūs nemoderuojate jokių įvykių.</p>
            {% else %}
                <table class="table table-striped">
                    <caption>Moderuojami įvykiai</caption>
                    <thead>
                    <tr>
                        <th>Pavadinimas</th>
                        <th>Dalyvių skaičius</th>
                        <th>Bendra suma</th>
                        <th>Bendra skola</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hosted_event in hosted_events %}
                        <tr>
                            <td>{{ hosted_event.name }}</td>
                            <td>{{ hosted_event.membersCount }}</td>
                            <td>{{ hosted_event.totalPrice }}</td>
                            <td>{{ hosted_event.totalDebt }}</td>
                            <td><a class="btn btn-primary" href="{{ path('dashboard', { 'hash' : hosted_event.hash }) }}">Žiūrėti</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if participations is empty %}
                <p>Jūs nedalyvaujate įvykiuose.</p>
            {% else %}
                <table class="table table-striped">
                    <caption>Įvykiai, kuriuose dalyvauju</caption>
                    <thead>
                    <tr>
                        <th>Pavadinimas</th>
                        <th>Dalyvių skaičius</th>
                        <th>Skolingas</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participation in participations %}
                        <tr>
                            <td>{{ participation.event.name }}</td>
                            <td>{{ participation.event.membersCount }}</td>
                            <td>{{ participation.debt }}</td>
                            <td><a class="btn btn-primary" href="{{ path('dashboard', { 'hash' : participation.event.hash }) }}">Žiūrėti</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}