{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Event</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Guest limit</th>
                <td>{{ entity.guestLimit }}</td>
            </tr>
            <tr>
                <th>Funds limit</th>
                <td>{{ entity.fundsLimit }}</td>
            </tr>
        </tbody>
    </table>
    <p>
        Host: {{ entity.user }}
    </p>
    Guests:
    {% set guests = 1 %}
    <br>
    {% for participations in entity.participations %}
        {{ participations }}
        <br>
        {% set guests = guests + 1 %}
    {% endfor %}
    <br>
    Total: {{ guests }}
    <br>
    <ul class="record_actions">
        {% if app.user == entity.user %}
            <li>
                <a href="{{ path('event') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('event_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
            {% endif %}

        {% set joined = false %}
        {% for participations in entity.participations %}
            {% if participations == app.user.username %}
                {% set joined = true %}
            {% endif %}
        {% endfor %}

        {% if app.user == entity.user %}
            You are the host.
        {% elseif joined == true %}
            <p style="color: #0f0"> Joined! </p>
        {% elseif guests < entity.guestLimit %}
            <li>
                <a href="{{ path('participation_new', {'id': entity.getId }) }}"><input type="submit" value="Join"></a>
            </li>
        {% else %}
            <p style="color: #f00">Cannot join! Event full.</p>
        {% endif %}
    </ul>
{% endblock %}
