<div>
    <p>Event name: {{ event.getName() }}</p>

</div>

<table style="text-align: left;border:1px solid black;">
        <tr>
            <th>User name</th>
            <th>User type</th>
            <th>Dept</th>
            <th>Check order</th>
            {% block tableHeader %}
            {% endblock %}
        </tr>
        <tr>
            {% for member in event.getMembers() %}
                <tr>
                    <td>{{ member.getUser() }}</td>
                    {% if member.isHost() == true %}<td>Host</td>
                    {% else %}<td>Simple</td>
                    {% endif %}
                    <td>{{ member.getDebt() }}€</td>
                    <td><a href="/event/{{ hash }}/check-order/{{ member.getId() }}">X</a></td>
                    {% block tableRows %}
                    {% endblock %}
                </tr>
            {% endfor %}
        </tr>
</table>

{% block content %}{% endblock %}

<p>Total cost: {{ member.event.getTotalDebt() }}€</p>