{% if items is defined %}
    <div style="float: right;">
        <div id="cart">
            <p>Krepšelis:</p>
        </div>
            {% for item in items %}
                <div>
                <span>{{ item.product.name }} {{ (item.product.price * item.quantity)|number_format(2, ',') }}€ ({{ item.quantity }})</span>
                {#<a href="/event/{{ hash }}/shops/{{ shopName }}/remove-from-cart/{{ item.getId() }}">Remove</a>#}
                <br>
                <a style="color: #e74c3c"href="{{ path('_remove_from_cart', {'hash': event.hash, 'itemId': item.id, 'urlLength': app.request.requestUri|length}) }}" class="dtr_remove_product" role="button">Pašalinti</a>
                </div>
                <br>
            {% endfor %}
            <div>
                <p>Suma: {{ totalCost|number_format(2, ',') }}€</p>
                {% if items|length > 0 %}
                    <a href="{{ path('_delete_cart', {'hash': event.hash, 'urlLength': app.request.requestUri|length}) }}" class="btn btn-default btn-sm dtr_delete_cart" role="button">Ištrinti krepšelį</a>
                {% endif %}
            </div>
    </div>
{% endif %}