{% if items is defined %}
    <div>
        <div>
            <p>Cart:</p>
        </div>
        <div>
            {% for item in items %}
                <p>{{ item.getProduct().getName() }} {{ item.getProduct().getPrice() * item.getQuantity() }}€ ({{ item.getQuantity() }})</p>
                <a href="/event/{{ hash }}/shops/{{ shopName }}/remove-from-cart/{{ item.getId() }}">Remove</a>
            {% endfor %}
        </div>
            <a href="/event/{{ hash }}/shops/{{ shopName }}/delete-cart">Delete cart</a>
            <p>Total cost: {{ totalCost }}€</p>
    </div>
{% endif %}
