{%  extends 'base.html.twig' %}

{% block body %}
    <div class="search">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="products_list">
        {% for product in products %}
            <div>
                <p >{{  product.getName() }}</p>
                <a href="/event/{{ event.hash }}/shops/{{ shopName }}/add-to-cart/{{ product.getId() }}" class="addToCart">Add to cart</a>
            </div>
        {% endfor %}
    </div>
    {% include 'menu/cart.html.twig' %}
{% endblock %}