{%  extends 'base.html.twig' %}

{% block body %}
    <div class="search">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="products_list">
        {% for product in products %}
            <div class="col-md-3">
                <img src="{{ asset('' ~ product.imageLocation ~ '') }}" class="img-thumbnail" .img-responsive>
                <a style="color: #fff" href="/event/{{ event.hash }}/shops/{{ shopName }}/add-to-cart/{{ product.id }}" class="addToCart"><span style="font-size: 15px;" class="glyphicon glyphicon-plus"> Pridėti</span></a>
                <p>{{  product.name }} {{ product.price|number_format(2, ',') }}€</p >
            </div>
        {% endfor %}
        <div><a class="dtr_dash_link" style="font-size: 20px;color: #fff;" href="{{ path('dashboard', {'hash': event.hash, 'event': event}) }}">Grįžti į įvykį</a></div>
    </div>
    {% include 'menu/cart.html.twig' %}
{% endblock %}