{%  extends 'base.html.twig' %}

{% block body %}
    <div class="search">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="products_list">
        {% for product in products %}
            <div class="col-md-4">
                <img src="{{ asset('' ~ product.imageLocation ~ '') }}" class="img-thumbnail" .img-responsive>
                <a style="color: #fff" href="/event/{{ event.hash }}/shops/{{ shopName }}/add-to-cart/{{ product.id }}" class="addToCart">Pridėti į krepšelį</a>
                <p>{{  product.name }} {{ product.price|number_format(2, ',') }}€</p >
            </div>
        {% endfor %}
    </div>
    {% include 'menu/cart.html.twig' %}
{% endblock %}